{% extends "base.html" %}

{% block title %}
Configuraciones
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/conf.css">
<main>
    <section class="Admin container"></section>
    <h2 class="subtitle">Modulo de configuracion</h2>
    

    <section class="Admin__container">
        <article class="Admin__padding">
            <div class="Admin__answer">
                <h3 class="Admin__title">Arbitros
                    <span class="Admin__arrow">
                        <img src="../../static/resources/down.svg" class="Admin__img">
                    </span>
                </h3>

                <div class="Admin__show">      
                    <div class="Admin__eqp">                                  
                    <p class="Admin__paragraph">Ingrese los datos del nuevo arbitro</p>

                    
                        <form action="" method="post">
                            {{ frm_arbitro.name.label }}
                            {{ frm_arbitro.name }}

                            {{ frm_arbitro.country.label }}
                            {{ frm_arbitro.country }}<br><br>

                            {{ frm_arbitro.crear_arbitro(class="text") }}<br><br>                            
                        </form>
                    </div>                    

                </div>

            </div>
        </article>
        
        <article class="Admin__padding">
            <div class="Admin__answer">
                <h3 class="Admin__title">Estadios
                    <span class="Admin__arrow">
                        <img src="../../static/resources/down.svg" class="Admin__img">
                    </span>
                </h3>

                <div class="Admin__show"> 
                    <div class="Admin__eqp">                    
                    <p class="Admin__paragraph">Ingresar datos del nuevo estadio</p>

                     
                        <form action="" method="post">
                            {{ frm_estadio.name.label }}
                            {{ frm_estadio.name }}

                            {{ frm_estadio.capacidad.label }}
                            {{ frm_estadio.capacidad }}

                            {{ frm_estadio.country.label }}
                            {{ frm_estadio.country }}
                            <br><br>
                            
                            {{ frm_estadio.crear_estadio(class="text") }}<br><br>                              
                        </form>
                    </div>     
                    
                </div>
            </div>
        </article>
        
        <article class="Admin__padding">
            <div class="Admin__answer">
                <h3 class="Admin__title">Creacion de equipos
                    <span class="Admin__arrow">
                        <img src="../../static/resources/down.svg" class="Admin__img">
                    </span>
                </h3>

                <div class="Admin__show">
                    <script src="../../static/js/equipo.js"></script>                                               
                               <div class="drag-area">                 
                                 <h2>Arrastra y suelta el logo del equipo</h2>
                                 <span class="span"></span>
                                 <form action="" method="post" enctype="multipart/form-data" class="imagen">      
                                
                                    <img id="imagenPrevisualizacion">
                                    <input type="file" id="uploadFile" name="uploadFile" accept="image/*">
                                </div>       
                                <div class="Admin__eqp">                                                                                                
                                    {{ frm_equipos.group.label }}
                                    {{ frm_equipos.group }}<br><br>

                                    {{ frm_equipos.numeq.label }}
                                    {{ frm_equipos.numeq }}<br><br>

                                    {{ frm_equipos.nameeq.label }}
                                    {{ frm_equipos.nameeq}}<br><br>
        
                                    {{ frm_equipos.namen.label }}
                                    {{ frm_equipos.namen}}<br><br>
                                                                                                            
                                    {{ frm_equipos.crear_equipo(class="text") }} 
                                    </form>
                                </div>                                                                                                                 
                        </div>
                   
                 
                    
                   
            </div>
        </article>
        
        <article class="Admin__padding">
            <div class="Admin__answer">
                <h3 class="Admin__title">Creacion de jugador
                    <span class="Admin__arrow">
                        <img src="../../static/resources/down.svg" class="Admin__img">
                    </span>
                </h3>

                <div class="Admin__show">                       
                        <div class="Admin__eqp">
                            <form action="" method="post">         
                                <label for="">Equipo</label>               
                                <select name="Nation" id="Nation" >   
                                    {% for pais in Nation %}                              
                                <option value="{{pais[0]}}">{{ pais[0] }}</option>       
                                {% endfor %}                      
                                </select><br><br>
                                
                                {{ frm_jugador.numjug.label }}
                                {{ frm_jugador.numjug}}<br><br>
                                                        
                                {{ frm_jugador.namejug.label }}
                                {{ frm_jugador.namejug}}<br><br>

                                {{ frm_jugador.apejug.label }}
                                {{ frm_jugador.apejug}}<br><br>                                                
                                                    
                                {{ frm_jugador.crear_jugador(class="text") }}<br><br>
                            </form>
                        </div>
                
                
                    
                
            </div>
        </article>    
        <article class="edit">
            <div class="Admin__answer">
              <a href="{{ url_for('edit') }}">Modulo de edicion</a>
           </div>
         </article> 
    </section>   

     
   


</main>

<script src="../../static/js/Escudo.js"></script>
<script src="../../static/js/slideArbitros.js"></script>
{% endblock %}