{% extends "base.html" %}

{% block title %}
Qatar 2022
{% endblock %}

{% block header %} 
<ul class="nav">
    <li><a href="#" class="nav__item">Ajustes</a>
        <ul>
        <li><a href="#"  class="ajustes">Programacion</a></li>
        <li><a href="#" class="ajustes">Configuraciones</a></li>
        </ul>
    </li>
</ul>
{% endblock %}

{% block content %}
<main>
    <section class="Admin container"></section>
    <h2 class="subtitle">Modulo de configuracion</h2>
    

    <section class="Admin__container">
        <article class="Admin__padding">
            <div class="Admin__answer">
                <h3 class="Admin__title">Arbitros
                    <span class="Admin__arrow">
                        <img src="../../static/resources/down.svg" class="Admin__img">
                    </span>
                </h3>

                <div class="Admin__show">
                    <script src="../../static/js/Arbitros.js"></script>
                    <table class="container table">
                        <tr>
                            <!-- Info de las columnas -->
                            <td>Id</td>
                            <td>Nombre</td>
                            <td>Procedencia</td>
                        </tr>
                        {% for arbitro in Arbitrator %}
                        <tr>
                            <td>{{ arbitro[0] }}</td>
                            <td>{{ arbitro[1] }}</td>
                            <td>{{ arbitro[2] }}</td>              
                        </tr>
                        {% endfor %} 
                        <tbody id="Arbitros"></tbody>

                    </table>

                    <p class="Admin__paragraph">Ingrese los datos del nuevo arbitro</p>

                    <div class="Admin__formulario">
                        <form action="" method="post">
                            {{ frm_arbitro.name.label }}
                            {{ frm_arbitro.name }}

                            {{ frm_arbitro.country.label }}
                            {{ frm_arbitro.country }}<br>
                            <br>
                            {{ frm_arbitro.crear_arbitro(class="text") }}                            
                        </form>
                    </div>
                    <p class="Admin__paragraph">Borrar arbitro de la nomima </p>

                    <div class="Admin__formulario">
                        <form action="#" method="post">
                            {{ frm_arbitro.Id.label }}
                            {{ frm_arbitro.Id }}<br>
                            
                            <br>
                            {{ frm_arbitro.delete_arbitro(class="text") }} 
                        </form>

                    </div>

                </div>

            </div>
        </article>
        

        <article class="Admin__padding">
            <div class="Admin__answer">
                <h3 class="Admin__title">Estadios
                    <span class="Admin__arrow">
                        <img src="../../static/resources/down.svg" class="Admin__img">
                    </span>
                </h3>

                <div class="Admin__show">
                    <script src="../../static/js/Estadios.js"></script>
                    <table class="container table">
                        <tr>
                            <!-- Info de las columnas -->
                            <td>Sede</td>
                            <td>Estadio</td>
                            <td>Capacidad</td>
                            <td>Ubicación</td>
                        </tr>
                        {% for estadio in Stadium %}
                        <tr>
                            <td>{{ estadio[0] }}</td>
                            <td>{{ estadio[1] }}</td>
                            <td>{{ estadio[2] }}</td>              
                            <td>{{ estadio[3] }}</td>              
                        </tr>
                        {% endfor %} 
                        <tbody id="Estadios"></tbody>
                    </table>

                    <p class="Admin__paragraph">Ingresar datos del nuevo estadio</p>

                    <div class="Admin__formulario">
                        <form action="" method="post">
                            {{ frm_estadio.name.label }}
                            {{ frm_estadio.name }}

                            {{ frm_estadio.capacidad.label }}
                            {{ frm_estadio.capacidad }}

                            {{ frm_estadio.country.label }}
                            {{ frm_estadio.country }}
                            <br><br>
                            
                            {{ frm_estadio.crear_estadio(class="text") }}                            
                        </form>
                    </div>
                    <p class="Admin__paragraph">Borrar estadio de la nomima perro</p>

                    <div class="Admin__formulario">
                        <form action="#" method="post">
                            {{ frm_estadio.Id.label }}
                            {{ frm_estadio.Id }}<br><br>
                            
                           
                            {{ frm_estadio.delete_estadio(class="text") }} 
                        </form>


                </div>
            </div>
        </article>
<!-- Grupo 1 -->
        <article class="Admin__padding">
            <div class="Admin__answer">
                <h3 class="Admin__title">Creacion de equipos
                    <span class="Admin__arrow">
                        <img src="../../static/resources/down.svg" class="Admin__img">
                    </span>
                </h3>

                <div class="Admin__show">
                    <script src="../../static/js/equipo.js"></script>
                    <div class="drag-area">
                        <h2>Arrastra y suelta el logo del equipo</h2>
                        <span></span>
                    
                            <input type="file" id="uploadFile" name="uploadFile" accept=".jpg .png .jpeg">
                            
                        </div>
                        <div class="Admin__eqp">
                            <form action="" method="post">
                                {{ frm_equipos.group.label }}
                                {{ frm_equipos.group }}<br><br>
                                {{ frm_equipos.numeq.label }}
                                {{ frm_equipos.numeq }}<br><br>

                                {{ frm_equipos.nameeq.label }}
                                {{ frm_equipos.nameeq}}<br><br>
    
                                {{ frm_equipos.namen.label }}
                                {{ frm_equipos.namen}}
                                
                                <br><br>
                                
                                {{ frm_equipos.crear_equipo(class="text") }}                            
                            </form>
                        </div>
                   
                 
                    
                   
            </div>
        </article>
<!-- Grupo 2-->
<article class="Admin__padding">
    <div class="Admin__answer">
        <h3 class="Admin__title">Grupo 2
            <span class="Admin__arrow">
                <img src="../../static/resources/down.svg" class="Admin__img">
            </span>
        </h3>

        <div class="Admin__show">
            <script src="../../static/js/equipo.js"></script>
            <div class="drag-area">
                <h2>Arrastra y suelta el logo del equipo</h2>
                <span></span>
            
                    <input type="file" id="uploadFile" name="uploadFile" accept=".jpg .png .jpeg">
                    
                </div>
                <div class="Admin__eqp">
                    <form action="" method="post">
                        {{ frm_jugador.equipo.label }}
                        {{ frm_jugador.equipo }}<br><br>

                        {{ frm_jugador.numjug.label }}
                        {{ frm_jugador.numjug}}
                        
                        <br><br>
                        {{ frm_jugador.namejug.label }}
                        {{ frm_jugador.namejug}}<br><br>

                        {{ frm_jugador.apejug.label }}
                        {{ frm_jugador.apejug}}
                        
                        <br><br>
                        
                        <br><br>
                        
                        {{ frm_jugador.crear_jugador(class="text") }}                            
                    </form>
                </div>
           
         
            
           
    </div>
</article>    
       
        
    </section>


</main>
<script src="../../static/js/slideArbitros.js"></script>
{% endblock %}