{% extends "base.html" %}

{% block title %}
Comentarista
{% endblock %}

{% block content %}
<form action="" method="post">
    {{ frm.comment.label }}
    {{ frm.comment }}

    {{ frm.AmarillaL.label }}
    {{ frm.AmarillaL }}

    {{ frm.Amarillav.label }}
    {{ frm.Amarillav }}

    {{ frm.RojaL.label }}
    {{ frm.RojaL }}

    {{ frm.RojaV.label }}
    {{ frm.RojaV }}


    {{ frm.GolesL.label }}
    {{ frm.GolesL }}

    {{ frm.GolesV.label }}
    {{ frm.GolesV }}

    {{ frm.EsquinaL.label }}
    {{ frm.EsquinaL }}

    {{ frm.EsquinaV.label }}
    {{ frm.EsquinaV }}

    {{ frm.ArcoL.label }}
    {{ frm.ArcoL }}

    {{ frm.ArcoV.label }}
    {{ frm.ArcoV }}

    {{ frm.OffsideL.label }}
    {{ frm.OffsideL }}

    {{ frm.OffsideV.label }}
    {{ frm.OffsideV }}

    {{ frm.create.label }}
    {{ frm.create }} 
    
    {{ frm.delete.label }}
    {{ frm.delete }}
</form>    
{% endblock %}