<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="/static/resources/Balon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link rel="stylesheet" href="/static/css/conf.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<header class="hero">
    <nav class="nav container">
        <h2 class="logo">Qatar 2022</h2>
       
        <ul class="nav__link nav__link--menu">
            <li class="nav__item">
                <a href="{{ url_for('home') }}" class="nav__links">Inicio</a>
            </li>

            <li class="nav__item">
                <a href="{{ url_for('results') }}" class="nav__links">Fechas y resultados</a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__links">En vivo</a>
            </li>
            <li class="nav__item">
                <a href="{{ url_for('log') }}" class="nav__links">Iniciar sesion</a>
            </li>

            <li class="nav__item">
                <a href="{{ url_for('register') }}" class="nav__links">Registrarse</a>
            </li>
        
            {% block header %} {% endblock %}

            <li class="nav__item">
                <a href="{{ url_for('logout') }}" class="nav__links">logout</a>
            </li>
        
        </ul>

        

    </nav>
</header>
<body>
   

    <div class="">
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        {% block content %} {% endblock %}
    </div>    
</body>
</html>
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">