<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %}</title>
</head>
<body>
    <div class="banner">
        Ing.Yesid-Ing.Alejandra-Ing.Marlon| sistema de gestión para el mundial CATAR 2022
    </div>
    <div class="cont">
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        {% block content %} {% endblock %}
    </div>    
</body>
</html>
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">