{% extends "base.html" %}

{% block title %}
Qatar 2022
{% endblock %}

{% block header %} 

    {% if Type == 3 %}
    <ul class="nav">
        <li><a href="#" class="nav__item">Ajustes</a>
            <ul>
            <li><a href="#"  class="ajustes">Programacion</a></li>
            <li><a href="{{ url_for('conf') }}" class="ajustes">Configuraciones</a></li>
            </ul>
        </li>
    </ul>
    {% endif %}
    
    {% if Type == 2 %}
    <li class="nav__item">
        <a href="#" class="nav__links">Comentar</a>
    </li>
    {% endif %}

{% endblock %}

{% block content %}
<link rel ="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">
<link rel ="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
<div class="root">
<section class="containerabout">
    <h2 class="subtitle">Tabla de posiciones</h2>
    

    <table class="container table">
        <!-- Se genera una tabla (la cual se entregara a index.php) -->
        <tr>
            <!-- Info de las columnas -->
            <td>Pos</td>
            <td>Equipo</td>
            <td>PJ</td>
            <td>G</td>
            <td>E</td>
            <td>P</td>
            <td>GF</td>
            <td>GC</td>
            <td>DG</td>
            <td>Pts</td>
        </tr>
        {% for team in table %}
        <tr>
            <td>{{ team[0] }}</td>
            <td>{{ team[1] }}</td>
            <td>{{ team[2] }}</td>
            <td>{{ team[3] }}</td>    
            <td>{{ team[4] }}</td>
            <td>{{ team[5] }}</td>
            <td>{{ team[6] }}</td>
            <td>{{ team[7] }}</td>  
            <td>{{ team[8] }}</td>
            <td>{{ team[9] }}</td>                  
        </tr>
        {% endfor %} 
        <tbody id="testing">
        </tbody>
    </table>


</section>
</div>
{% endblock %}