{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<header>
    
    <div class="contenedor"> 
        <h2 class="logo">QATAR 2022</h2>
        <nav>
            <a class="activo">Inicio</a>
            <a >Programación</a>
            <a>En vivo</a>
            <a >Iniciar sesión</a>
            <a >Registrarse</a>
            <ul class="nav">
                <li><a class="ajustes">Ajustes</a>
                    <ul>
                    <li><a class="ajustes">Gestionar Informacion</a></li>
                    <li><a class="ajustes">Gestionar Partidos</a></li>
                    </ul>
                </li>
                </ul>

        </nav>

    </div>      
</header>


{% endblock %}