{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block header %} 

    {% if Type == 3 %}
    <ul class="nav">
        <li><a href="#" class="nav__item">Ajustes</a>
            <ul>
            <li><a href="#"  class="ajustes">Programacion</a></li>
            <li><a href="{{ url_for('conf') }}" class="ajustes">Configuraciones</a></li>
            </ul>
        </li>
    </ul>
    {% endif %}
    
    {% if Type == 2 %}
    <li class="nav__item">
        <a href="#" class="nav__links">Comentar</a>
    </li>
    {% endif %}

{% endblock %}

{% block content %}
<link rel ="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">
<link rel ="stylesheet" href="{{ url_for('static',filename='css/Login.css') }}">


    <div class="login_box">
        
                    
                <form action="" method="post" class="formularioingreso" id="">
                    <center><img class="avatar" src="/static/resources/logo.png" alt="logo" class="logo" alt="centered image" height="598" width="398"></center>
                    {{ frm.hidden_tag() }}
                    <h4>Inicia sesion</h4>
                    <!--usuario-->
                    <p>
                        {{ frm.username.label }}<br>
                        {{ frm.username(class="controls") }}<br>
                        {% for error in frm.username.errors %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                    </p>
                    <!--contraseña-->
                    <p>
                        {{ frm.password.label }}<br>
                        {{ frm.password(class="controls")}}<br>
                        {% for error in frm.password.errors %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                    </p>
                    <!--boton-->
                    <a href="#">¿Has olvidado tu contraseña?</a><br>
                    <a href="{{ url_for('register') }}">¿No tienes una cuenta de usuario?</a>
                    <p>       
                        <form action="" method="post" >
                            
                            {{ frm.entrar(class="button")}} <br>  
                             
                        </form>       
                                                                              
                    </p>
                    
                </form>
    </div>
{% endblock %}