{% extends "base.html" %}

{% block title %}
Login
{% endblock %}
{% block content %}
<link rel ="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">
<link rel ="stylesheet" href="{{ url_for('static',filename='css/Registro.css') }}">
    <div class="login_box">
        
                      
                <form action="" method="post" class="formregistro">
                    <center><img class="avatar" src="/static/resources/logo.png" alt="logo" class="logo" alt="centered image" height="598" width="398"></center>
                    {{ frm.hidden_tag() }}
                    <!--usuario-->
                    <p>
                        {{ frm.username.label }}
                        {{ frm.username(class="controls")}}
                        {% for error in frm.username.errors %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                    </p>
                    <!--Celular-->
                    <p>
                        {{ frm.cellphone.label }}
                        {{ frm.cellphone(class="controls") }}
                        {% for error in frm.username.errors %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                    </p>
                    <!--contraseña-->
                    <p>
                        {{ frm.password.label }}
                        {{ frm.password(class="controls") }}
                        {% for error in frm.password.errors %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                    </p>
                    <a href="#">¿Ya tienes una cuenta con nosotros?</a>
                    <!--boton-->
                    <p>       
                        <form action="" method="post">
                            {{ frm.crear(class="button") }}       
                        </form>                                                                                        
                    </p>
                    
                </form>
    </div>
{% endblock %}